<div class="paging">
  <div class="pull-left"> 
  <% items = @query_result.items%>
   <div class="pagination">
     <%=raw t("will_paginate.total", :from=>items.offset+1, :to=>items.offset + items.count, :total=>items.total_entries, :item=>@context.model.model_name.human) %>
  </div>
  </div>

  <div class="pull-right">
    <%= will_paginate(items, :renderer => BootstrapPagination::Rails) %>
  </div>
</div>