<div class="toolbar">
  <div class="pull-left">
    <%= orders_group%>
    <%= filter_group @query_result, :select, :scope%>     
  </div>

  <div class="pull-right">
   <%= filter_group @query_result, :date_range, :search%>     
  </div>
</div>
