<div class="toolbar">
  <div class="pull-left">
    <% if query.scopes.present? %>
      <!-- Scopes -->
      <div class="btn-group">
        <% query.scopes.each{|scope| concat scope_button(scope)}%>
      </div>
    <% end %>

    <% if query.orders.present? %>
      <!-- Orders -->
      <div class="btn-group">
        <%query.orders.each{|order| concat order_button(order)}%>
      </div>
    <% end %>

    <% if query.searches.present? %>
      <!-- Keywords -->
      <div class="btn-group">
        <%= search_box %>
      </div>
    <% end %>
  </div>  
</div>


