<div class="toolbar">
  <div class="pull-left">
    <% if tools %>
      <% if query.scopes.present? %>
        <!-- Scopes -->
        <div class="btn-group">
          <% query.scopes.each{|scope| concat scope_button(scope)}%>
        </div>
      <% end %>

      <% if query.orders.present? %>
        <!-- Orders -->
        <div class="btn-group">
          <%query.orders.each{|order| concat order_button(order)}%>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if paging %>
  <div class="pull-right">
    <%= will_paginate(data, :renderer => BootstrapPagination::Rails) %>
  </div>
  <% end %>
</div>
