<div class="page-header">
    <div class="pull-left">
      <%= page_header(@context.page.headers) %>
    </div>
    <div class="pull-right">
      <%= action_group(@context.page.actions, :class=>"btn")%>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="span12">
     <%= yield :main %>
    </div>
  </div>
</div> 